.ad_Rem-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.remark_sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.remark_sec span {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: #2C2929;
}

.remark_sec i {
    font-size: 20px;
}

.remark_sec-g i {
    color: #68D391;
}

.remark_sec-y i {
    color: #EEF316;
}

.remark_sec-r i {
    color: #F11111;
}

.ad__Row2 {
    margin-top: 20px;
}

.ad_fl-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.ad_filter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ad_filter span {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}

.ad-filter-fm select {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}

.ref_Sec i {
    font-size: 20px;
}

.ad__Row3 {
    margin-top: 10px;
}

.ad_flt-dt {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.ad_flt-dt-bx {
    width: 50%;
}

/* .ad_Table-sec tr:nth-of-type(1) th:nth-of-type(4){
    display: none;
}

.ad_Table-sec tr td:nth-of-type(4){
    display: none;
} */




/* dashboard mob popup */

.ad_si-no {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
    color: #5C5A5A;
    border-bottom: 1px solid #5C5A5A;
}

.ad_M-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    margin-top: -20px;
}

.ad_lst span {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: center;
    color: #000;
}

.ad_m-modal .modal-header {
    border: none;
}

.ad_lst-col {
    color: #68D391 !important;
}



/* approvals */

/* .app_ref-btn {
    padding-left: 20px;
} */

.app_Row1 {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0 20px;
}

.app_fl-dt {
    width: 50%;
}

.app_ref-btn button {
    padding: 0;
}

.app_ref-btn i {
    font-size: 20px;
}

.app_m-modal .modal-header {
    border: none;
}

.app_btn button {
    font-family: Roboto;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
}

.app_btn {
    margin-top: 4rem;
}

.app_Table {
    margin-top: 2rem;
}

.sh_btn {
    display: flex;
    cursor: pointer;
    width: fit-content;
}



/* History */

.his__Sort {
    padding: 0 20px;
}

.hs_Row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hs_Row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.hs_Row3 {
    margin-top: 17px;
}

.hs_Fl-s {
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.hs_flt-dt {
    width: 48%;
}

.hs_s-f {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hs_s-f span {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}

.hs_rf-btn button {
    padding: 0;
}

.hs_rf-btn i {
    font-size: 20px;
}

.hs_Table {
    margin-top: 20px;
}

.hs_sh-p {
    width: 48%;
}

.hs_sh-as {
    width: 48%;
}

.hs_sh-bt {
    width: 48%;
}

.hs_sh-sr {
    width: 48%;
}

.sur_srt-sec {
    padding: 0 20px;
}

.sur_Row1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.sc-icn i {
    font-size: 12px;
}

.sur_ref-btn button {
    padding: 0;
}

.sur_ref-btn i {
    font-size: 20px;
}

.sur_Row2 {
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    align-items: center;
    margin-top: 15px;
}

.sur_pr {
    width: 48%;
}

.sur_as {
    width: 48%;
}

.sur_Row3 {
    display: flex;
    margin-top: 15px;
}

.sur_bt {
    width: 48%;
}

.sur_Row4 {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.sur__Table {
    margin-top: 15px;
}

.sur_m-modal .modal-header {
    border: none;
}

.sur_edit-modal .modal-header {
    border: none;
}







.sur_m-cnt {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 17px;
    margin-top: 0;
}




/* new */
.sur_mn-ttl {
    padding: 10px 15px;
    background: #6B46C1;
    display: flex;
}

.sr_mn-as {
    width: 40%;
}

.sr_dt-div {
    padding: 0 15px;
    margin-top: 20px;
}

.sr_mn-tlk {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.sr_mn-sec {
    display: flex;
    justify-content: center;
    gap: 7rem;
}

.sr_dt-card {
    padding-bottom: 5px;
    border-bottom: 1px solid #C1C0C0;
    padding-top: 5px;
}

.sr_dt-tlk-list {
    margin-bottom: 10px;
}

.sur_mn-ttl span {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.sr_dt-card {
    display: flex;
}

.sr_dt-as span {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.sr_dt-tlk {
    display: flex;
    justify-content: space-between;
    /* gap: 7rem; */
}

.sr-dt-tlk_lst {
    width: 60%;
}

.sr_dt-as {
    width: 40%;
}

.sr_tlk-n a {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}

.sr_tlk-n span {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.sr_tlk-sts i {
    font-size: 20px;
}

.sr-red i {
    color: #F11111;
}

.sr-yellow i {
    color: #EEF316;
}

.sr-green i {
    color: #68D391;
}